/* Tema Claro (default) */
:root {
  --color-primary-text: #333;
  --color-secondary-text: #666;
  --color-background: #fff;
  --color-border: #bebab3;
  --color-background-alt: #f0f0f0;
  --color-background-line: rgba(224, 224, 224, 0.5);
  --color-button-primary: #ff4c4c;
  --color-button-primary-hover: #ff3333;
  --color-modal-background: rgba(0, 0, 0, 0.4);
  --color-loading-background: rgba(0, 0, 0, 0.5);
}

/* Tema Escuro */
.dark-theme {
  --color-primary-text: #e0e0e0;
  --color-secondary-text: #b0b0b0;
  --color-background: #535353;
  --color-background-line: rgb(120 120 120 / 50%);
  --color-border: #444;
  --color-background-alt: #333;
  --color-button-primary: #ff4c4c;
  --color-button-primary-hover: #ff3333;
  --color-modal-background: rgba(0, 0, 0, 0.8);
  --color-loading-background: rgba(255, 255, 255, 0.2);
}

/* Reset CSS Básico */

/* Remover margens e preenchimentos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definir fontes padrões mais consistentes */
body,
botton,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
figcaption,
blockquote,
dl,
dd {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6;
  color:var(--color-primary-text);
}

/* Remover list-style para listas não ordenadas e ordenadas */
ul,
ol {
  list-style: none;
}

/* Remover decoração de texto para links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remover bordas para imagens e iframes */
img,
iframe {
  border: 0;
}
body {
  background-color: var(--color-background);
  background-image: linear-gradient(
      to right,
      var(--color-background-line) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--color-background-line) 1px, transparent 1px);
  background-size: 20px 20px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

p {
  font-size: 0.8rem;
}

div .container {
  display: flex;
  justify-content: space-between;
  width: 70.5rem;
  min-height: 60vh;
}

div .tracking-container {
  background-color: var(--color-background);
  width: 37.125rem;
  margin-top: 2.25rem;
  border: 0.125rem solid var(--color-border);
  border-radius: 1rem;
  min-height: 60vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72vh;
}

div .tracking-form {
  margin-top: 2.5rem;
  width: 26rem;
}

div .tracking-search {
  margin-top: 2.5rem;
  width: 25rem;
}

div .tracking-history {
  background-color: var(--color-background);
  margin-top: 2.25rem;
  border: 0.125rem solid var(--color-border);
  border-radius: 1rem;
  min-height: 60vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72vh;
  width: 28.313rem;
}

div .tracking-code-container {
  display: flex;
  border: 0.0625rem solid var(--color-border);
  padding: 0.625rem;
  border-radius: 0.3125rem;
}

/* Estilo do input para o tema claro */
.input {
  background-color: var(--color-background-alt); /* Fundo claro */
  color: var(--color-primary-text); /* Cor do texto */
  border: 1px solid var(--color-border); /* Cor da borda */
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

/* Estilo do input para o tema escuro */
.dark-theme .input {
  background-color: var(--color-background); /* Cor de fundo no tema escuro */
  color: var(--color-primary-text); /* Cor do texto no tema escuro */
  border: 1px solid var(--color-border); /* Borda no tema escuro */
}

/* Placeholder com cor personalizada */
.input::placeholder {
  color: var(--color-secondary-text); /* Cor do placeholder */
  opacity: 1;
}

/* Borda e fundo ao focar no input */
.input:focus {
  border-color: var(--color-button-primary); /* Cor da borda ao focar */
  outline: none;
}


input {
  width: 35.625rem;
  padding: 0.625rem 0;
  border: none;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.clear-history-button {
  background-color: var(--color-button-primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

.clear-history-button:hover {
  background-color: var(--color-button-primary-hover);
}

.main-container {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-image {
  content: url('/img/iconLogoBlack.svg');
  width: 25.4375rem;
  height: 20vh;
}

.dark-theme .title-image {
  content: url('/img/iconLogoWhite.svg');
}

.icon-busca {
  padding: 0.3125rem;
  display: flex;
  align-content: center;
  content: url('/img/lupa.svg');
}

.dark-theme .icon-busca {
  content: url('/img/lupaWhite.svg');
}

.icon-time {
  max-width: 30px;
  padding: 0.4125rem;
  display: flex;
  align-content: center;
}

.button-history {
  margin-top: 1.3rem;
  width: 30rem;
  max-width: 800px;
  display: none;
}

.container-button-history {
  background-color: var(--color-background);
  padding: 15px 50px;
  font-size: 18px;
  border: 0.125rem solid var(--color-border);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tracking-status-container {
  margin-top: 1.625rem;
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.3125rem;
  width: 26rem;
  height: auto;
  padding: 1.25rem;
}

.tracking-history-item {
  margin-top: 1.625rem;
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.3125rem;
  width: 25.23rem;
  height: auto;
  padding: 1.25rem;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.history-item-content {
  display: flex;
  justify-content: space-between;
}

.tracking-history-item:hover {
  background-color: var(--color-background-alt); /* Cor de fundo quando o mouse está sobre o item */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

.tracking-status-title {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 0.18rem;
  font-size: 1em;
  font-weight: 500;
}

.status-information {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.625rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.tracking-details {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 0.3125rem;
}

.time {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.time .data {
  justify-self: start;
}

.time .hora {
  justify-self: end;
}

.switch-text {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Estilo do container do switch */
.theme-switch-container {
  position: relative;
  width: 60px;
  height: 30px;
}

/* Ocultar o checkbox padrão */
.theme-switch-checkbox {
  display: none;
}

/* Estilo do label que atua como o "switch" */
.theme-switch-label {
  background-color: var(--color-background-alt);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

/* Estilo do botão que se move no switch */
.theme-switch-button {
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: var(--color-background-alt);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease;
}

/* Ícone de sol (modo claro) */
.sun-icon {
  color: #f0f0f0;
  font-size: 14px;
  display: none; /* Oculto no início */
}

/* Ícone de lua (modo escuro) */
.moon-icon {
  color: var(--color-secondary-text);
  font-size: 14px;
  display: block;
}

/* Mover o botão para a direita quando o checkbox estiver ativado */
.theme-switch-checkbox:checked + .theme-switch-label .theme-switch-button {
  left: 30px;
}

/* Alterar o fundo para indicar o modo escuro quando ativado */
.theme-switch-checkbox:checked + .theme-switch-label {
  background-color: var(--color-secondary-text);
}

/* Alternar ícones de sol e lua */
.theme-switch-checkbox:checked + .theme-switch-label .sun-icon {
  display: block;
}

.theme-switch-checkbox:checked + .theme-switch-label .moon-icon {
  display: none;
}


#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-loading-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* The Close Button */
.close {
  margin-top: -15px;
  font-size: 30px;
  color: #aaaaaa;
  float: right;
  font-weight: bold;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--color-modal-background); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--color-background);
  margin: auto;
  padding: 2rem;
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.4125rem;
  width: 30rem;
}

#tracking-history-container-mobile {
  justify-content: center;
}

.container-button-history,
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 1170px) {
  /* body {
    background-image: url("/img/map.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  } */

  .title-image {
    width: 55%;
    height: auto;
  }

  .button-history {
    width: 30rem;
    display: block;
  }

  div .container {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    min-height: 60vh;
  }

  div .tracking-history {
    display: none;
  }

  div .tracking-form,
  input {
    width: 85%;
  }

  div .tracking-container {
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tracking-status-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-carregando {
    max-width: 50%;
    max-height: 50%;
  }
}

@media screen and (max-width: 500px) {
  /* body {
    background-image: url("/img/map.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  } */

  .title-image {
    width: 55%;
    height: auto;
  }

  .button-history {
    width: 25rem;
    display: block;
  }

  .modal-content {
    width: 25rem;
  }

  .tracking-history-item {
    width: 21rem;
  }

  div .container {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    min-height: 60vh;
  }

  div .tracking-history {
    display: none;
  }

  div .tracking-form,
  input {
    width: 85%;
  }

  div .tracking-container {
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tracking-status-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-carregando {
    max-width: 50%;
    max-height: 50%;
  }
}

@media screen and (max-width: 380px) {
  /* body {
    background-image: url("/img/map.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  } */

  .title-image {
    width: 55%;
    height: auto;
  }

  .button-history {
    width: 20rem;
    display: block;
  }

  .modal-content {
    width: 20rem;
  }

  .tracking-history-item {
    width: 16rem;
  }

  div .container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    min-height: 60vh;
  }

  div .tracking-history {
    display: none;
  }

  div .tracking-form,
  input {
    width: 85%;
  }

  div .tracking-container {
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tracking-status-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-carregando {
    max-width: 50%;
    max-height: 50%;
  }
}
