/* Reset CSS Básico */

/* Remover margens e preenchimentos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definir fontes padrões mais consistentes */
body,
botton,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
figcaption,
blockquote,
dl,
dd {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6;
  color: #333;
}

/* Remover list-style para listas não ordenadas e ordenadas */
ul,
ol {
  list-style: none;
}

/* Remover decoração de texto para links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remover bordas para imagens e iframes */
img,
iframe {
  border: 0;
}

body {
  background-image: url("/img/map.svg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

p {
  font-size: 0.8rem;
}

div .container {
  display: flex;
  justify-content: space-between;
  width: 70.5rem;
  min-height: 60vh;
}

div .tracking-container {
  background-color: #fff;
  width: 37.125rem;
  margin-top: 2.25rem;
  border: 0.125rem solid #bebab3;
  border-radius: 1rem;
  min-height: 60vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72vh;
}

div .tracking-form {
  margin-top: 2.5rem;
  width: 26rem;
}

div .tracking-search {
  margin-top: 2.5rem;
  width: 25rem;
}

div .tracking-history {
  background-color: #fff;
  margin-top: 2.25rem;
  border: 0.125rem solid #bebab3;
  border-radius: 1rem;
  min-height: 60vh;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72vh;
  width: 28.313rem;
}

div .tracking-code-container {
  display: flex;
  border: 0.0625rem solid #bebab3;
  padding: 0.625rem;
  border-radius: 0.3125rem;
}

input {
  width: 35.625rem;
  padding: 0.625rem 0;
  border: none;
}

.main-container {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-image {
  width: 25.4375rem;
  height: 20vh;
}

.icon-busca {
  padding: 0.3125rem;
  display: flex;
  align-content: center;
}

.icon-time {
  max-width: 30px;
  padding: 0.4125rem;
  display: flex;
  align-content: center;
}

.button-history {
  margin-top: 1.3rem;
  width: 30rem;
  max-width: 800px;
  display: none;
}

.container-button-history {
  background-color: #fff;
  padding: 15px 50px;
  font-size: 18px;
  border: 0.125rem solid #bebab3;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tracking-status-container {
  margin-top: 1.625rem;
  border: 0.0625rem solid #bebab3;
  border-radius: 0.3125rem;
  width: 26rem;
  height: auto;
  padding: 1.25rem;
}

.tracking-history-item {
  margin-top: 1.625rem;
  border: 0.0625rem solid #bebab3;
  border-radius: 0.3125rem;
  width: 25.23rem;
  height: auto;
  padding: 1.25rem;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.history-item-content {
  display: flex;
  justify-content: space-between;
}

.tracking-history-item:hover {
  background-color: #f0f0f0; /* Cor de fundo quando o mouse está sobre o item */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

.tracking-status-title {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 0.18rem;
  font-size: 1em;
  font-weight: 500;
}

.status-information {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.625rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.tracking-details {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 0.3125rem;
}

.time {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.time .data {
  justify-self: start;
}

.time .hora {
  justify-self: end;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* The Close Button */
.close {
  margin-top: -15px;
  font-size: 30px;
  color: #aaaaaa;
  float: right;
  font-weight: bold;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  border: 0.0625rem solid #bebab3;
  border-radius: 0.4125rem;
  width: 30rem;
}

#tracking-history-container-mobile {
  justify-content: center;
}

.container-button-history,
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 1170px) {
  body {
    background-image: url("/img/map.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }

  .title-image {
    width: 55%;
    height: auto;
  }

  .button-history {
    width: 30rem;
    display: block;
  }

  div .container {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    min-height: 60vh;
  }

  div .tracking-history {
    display: none;
  }

  div .tracking-form,
  input {
    width: 85%;
  }

  div .tracking-container {
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tracking-status-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-carregando {
    max-width: 50%;
    max-height: 50%;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-image: url("/img/map.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }

  .title-image {
    width: 55%;
    height: auto;
  }

  .button-history {
    width: 25rem;
    display: block;
  }

  .modal-content {
    width: 25rem;
  }

  .tracking-history-item {
    width: 21rem;
  }

  div .container {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    min-height: 60vh;
  }

  div .tracking-history {
    display: none;
  }

  div .tracking-form,
  input {
    width: 85%;
  }

  div .tracking-container {
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tracking-status-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-carregando {
    max-width: 50%;
    max-height: 50%;
  }
}

@media screen and (max-width: 380px) {
  body {
    background-image: url("/img/map.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }

  .title-image {
    width: 55%;
    height: auto;
  }

  .button-history {
    width: 20rem;
    display: block;
  }

  .modal-content {
    width: 20rem;
  }

  .tracking-history-item {
    width: 16rem;
  }

  div .container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    min-height: 60vh;
  }

  div .tracking-history {
    display: none;
  }

  div .tracking-form,
  input {
    width: 85%;
  }

  div .tracking-container {
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tracking-status-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-carregando {
    max-width: 50%;
    max-height: 50%;
  }
}
